h1.extIconBookmark .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}

#contextmenu .task-bookmark {
	background-image:url(../img/icons.png);
	background-position:3px 2px;
}

a.task-showinproject {
	background:url(../../../portal/assets/img/icons.png) no-repeat 2px -26px;
}