/* icon */
#panelwidget-taskbookmarks h1 .title {
	background:url(../img/icons.png) no-repeat 5px -25px;
}

#panelwidget-taskbookmarks div.bookmarks ul li {
	min-height:32px;
	padding:0;
}

/* status - border colors global */
#panelwidget-taskbookmarks div.bookmarks ul li {
	/*border-left-width:14px;*/
	/*border-left-style:solid;*/
	/*padding-left:5px;*/
}

#panelwidget-taskbookmarks div.bookmarks ul li a.info {
	display:block;
	padding:2px 25px 2px 2px; /* icon space */
	cursor:pointer;
}

#panelwidget-taskbookmarks div.bookmarks .info .project {
	display:block;
}

#panelwidget-taskbookmarks div.bookmarks .info .task  {
	display:block;
}

#panelwidget-taskbookmarks div.bookmarks ul li a.timetracking {
	display:block;
	float:right;
	clear:none;
	width:22px;
	height:22px;
	background:url(../../../timetracking/assets/img/icons.png) no-repeat 0 -27px;
}

#panelwidget-taskbookmarks div.bookmarks ul li.running a {
	background-position:0 3px !important;
}



#panelwidget-taskbookmarks .handle {
	float:left;
	min-height:32px;
	cursor:move;
	border-left-width:6px;
	border-left-style:solid;
	padding-left:5px;
	margin-left:-2px;
}

#panelwidget-taskbookmarks .handle.hover { }

#panelwidget-taskbookmarksdropZone {
	width:210px;
	height:5px;
}