<span style="display:none;" id="bookmarkitem-actions-{$idBookmark}"></span>
<span title="{Label bookmark.ext.bookmark.rename}" class="icon rename" onclick="Todoyu.Ext.bookmark.Profile.initRenameForm('task', {$idBookmark})"></span>
{if isBookmarkRemoveAllowed($idBookmark, 'task')}
	<span title="{Label bookmark.ext.contextmenu.removebookmark}" class="icon delete" onclick="Todoyu.Ext.bookmark.Profile.remove('task', {$idBookmark})"></span>
{/if}