<span style="display:none;" id="bookmarkitem-actions-{$id}"></span>
<span title="{Label bookmark.bookmark.rename}" class="icon rename" onclick="Todoyu.Ext.bookmark.Profile.initRenameForm('task', {$id})"></span>
{if isBookmarkRemoveAllowed($id, 1)}
	<span title="{Label bookmark.contextmenu.removebookmark}" class="icon delete" onclick="Todoyu.Ext.bookmark.Profile.remove('task', {$id})"></span>
{/if}