<div id="{$id}-list" class="bookmarks">
	{if $bookmarks}
		<ul class="contextmenutaskbookmarks ulListDotted withMouseHover sortable">
		{foreach $bookmarks taskBookmark}
			{include file="bookmark.tmpl"}
		{/foreach}
		</ul>
	{else}
		<div class="notification">{Label bookmark.info.nobookmarks}</div>
	{/if}
</div>