<h1 class="headerLine">
	<span class="first">Edit task bookmark: {$task.id_project}.{$task.tasknumber} {$task.title}</span>
	<span class="rgt"></span>
</h1>

<div id="bookmark-{$bookmark.id}-details" class="bookmark details">
	<div class="properties">
		<dl>
			<dt class="floatLeft">{Label project.project}:</dt>
			<dd>{$projectTitle}</dd>

			<dt class="floatLeft">{Label task.task}:</dt>
			<dd>{$task.title}</dd>
		</dl>
	</div>
</div>

<br/><br/>

{$formhtml}