<h1 class="headerLine">
	<span class="first">{Label bookmark.ext.bookmark.edit}: {$task.id_project}.{$task.tasknumber} {$task.title}</span>
	<span class="rgt"></span>
</h1>

<div id="bookmark-{$bookmark.id}-details" class="bookmark details">
	<div class="properties">
		<dl>
			<dt class="floatLeft">{Label project.ext.project}:</dt>
			<dd>{$projectTitle}</dd>

			<dt class="floatLeft">{if $task.type == constant('TASK_TYPE_TASK')}{Label project.task.task}{else}{Label project.task.type.container}{/if}:</dt>
			<dd>{$task.title}</dd>
		</dl>
	</div>
</div>

<br /><br />

{$formhtml}